{% extends 'base.html' %}
{% block title %}
{{ curso.nombre }}
{% endblock %}
{% block content %}
<div class="card">
    {% if curso.imagen %}
    <img src="{{ curso.imagen.url }}" class="card-img-top" alt="{{ curso.nombre }}">
    {% endif %}
    <div class="card-body">
        <h1>
            {{ curso.nombre }}
        </h1>
        <hr>
        <p>
            <strong>Profesor:</strong>
            {{ curso.profesor }}
        </p>
        <p>
            <strong>Fecha inicio:</strong>
            {{ curso.fecha_inicio }}
        </p>

        <p>
            <strong>Fecha fin:</strong>
            {{ curso.fecha_fin }}
        </p>
        <p>
            <strong>Plazas:</strong>
            {{ curso.plazas }}
        </p>
        <hr>
        <p>
            {{ curso.descripcion }}
        </p>
        <p>
            <strong>Plazas ocupadas:</strong>
            {{ ocupadas }}
            /
            {{ curso.plazas }}
        </p>
    </div>

    {% if user.is_authenticated %}
    <a href="{% url 'matricularse' curso.id %}" class="btn btn-success">
        Matricularme
    </a>
    {% else %}
    <div class="alert alert-info">
        Debes iniciar sesión para matricularte.
    </div>
    {% endif %}
</div>
{% endblock %}